.cartao {
    background-color: rgb(153, 240, 135);
    padding: 8px;
    border-radius: 8px;
    width: 300px;
}

.cartoes{
    display: flex;
    justify-content: center; 
    align-items: center;   
   text-align: center;
}
.cabecalho{
    text-align: center;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    font-size: 20px;
    background-color: rgb(231, 22, 22);
 border-radius: 8px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.but{
    margin-top: 14px;
    display: flex;
    justify-content: center;
   align-items: center;
}
.resul{
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}