body{
    background-color: rgb(129, 172, 209);
}

.prova{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 102, 0);
}
.intro{
 margin-top: 40px;   
    text-align: center;
text-decoration: none;
}
.tt{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
